.jsonText {
  width: 600px;
  text-align: left;
  word-break: break-all;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .jsonText {
    width: auto;
    font-size: 1rem;
  }
}

.jsonText pre {
  white-space: pre-wrap;
}
